
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/recipe.css')
  body
    h1= recipe.name
    div.introduction
      h2= Introduction
      p= recipe.introduction
    div.ingredients
      h2= Ingredients
      each section in recipe.ingredients
        h3= section.name
        ul
          each ingredient in section.items
            li
              span.amount= ingredient.amount
              span.units= ingredient.units
              span.item= ingredient.item
    div.instructions
      h2= Instructions
      each section in recipe.instructions
        h3= section.name
        ol
          each step in section.steps
            li.step= step
