
html, body
  height: 100%

body
  margin: 0
  background-color: #AAAAAA
  color: #442D80
  padding-left: 5rem

.ingredients .amount
  margin-right: 0.25rem

.ingredients .units
  margin-right: 0.5rem

li
  margin-bottom: 0.1rem
    
