/*
Copyright (C) 2016  Andy Coder <andy@oatberrycrunch.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

html, body
  margin: 0
  height: 100%

body
  font-family: 'Anonymous Pro', sans-serif
  display: table
  background-color: #AAAAAA
  color: #442D80

#canvas
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  margin: auto
  display: block
  background-color: #AAAAAA
