/*
Copyright (C) 2016  Andy Coder <andy@oatberrycrunch.com>

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

html
  for i in 0..7
    @media screen and (min-width: (150*i)px)
      font-size: 6+(6*i)px

html, body
  height: 100%

body
  font-family: 'Anonymous Pro', sans-serif
  display: table
  margin: 0 auto
  background-color: #AAAAAA
  color: #442D80

a
  color: #802440
  text-decoration: none

h1
  font-size: 1.5rem

p
  font-size: 1rem

.links
  list-style: none

.links li
  text-align: right
  display: block
  padding-bottom: 0.5em

.container
  height: 100%
  display: table-cell
  vertical-align: middle

.center
  height: auto
  width: auto
  text-align: center
